<!DOCTYPE html>
<html>
<head>
<title></title>
#parse("sys/header.html")
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<div class="form-group col-md-2">
				<input type="text" id="datepicker" class="form-control" placeholder="年份">
			</div>
			<div class="form-group col-md-2">
				<input type="text" class="form-control" placeholder="季度">
			</div>
			<div class="form-group col-md-2">
				<input type="text" class="form-control" placeholder="收支">
			</div>
			<div class="form-group col-md-2">
				<input type="text" class="form-control" placeholder="财务类型、备注">
			</div>
			<a class="btn btn-default" @click="query">查找</a>

			#if($shiro.hasPermission("finance:save"))
			<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			#end
			#if($shiro.hasPermission("finance:update"))
			<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			#end
			#if($shiro.hasPermission("finance:delete"))
			<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			#end
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
			<div class="form-group">
			   	<div class="col-sm-2 control-label">收支</div>
			   	<div class="col-sm-10">
			   		<select class="input-md form-control" v-model="finance.payOrIncome">
				   	   <option v-for="payInData in payInDatas" v-bind:value="payInData.value">
				   	   		{{payInData.text}} 
				       </option>
				   	</select>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">财务类型</div>
			   	<div class="col-sm-10">
			   		<select class="input-md form-control" v-model="finance.finType">
				        <option>工资</option>
				        <option>学费</option>
				        <option>书籍、办公用品</option>
				        <option>装修费、修理</option>
				        <option>业务招待</option>
				        <option>出差、餐费</option>
				        <option>广告宣传</option>
				        <option>福利奖金</option>
				        <option>保险</option>
				        <option>水电物管</option>
				        <option>租赁</option>
				        <option>交通运输</option>
				        <option>其他</option>
				   	</select>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">收支日期</div>
			   	<div class="col-sm-10">
			      <input type="text" id="lay_finDate" class="form-control" v-model="finance.finDate" placeholder="收支日期"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">收支金额</div>
			   	<div class="col-sm-10">
			      <input type="number" class="form-control" v-model="finance.finAmount" placeholder="收支金额"/>
			    </div>
			</div>
			
			<div class="form-group">
			   	<div class="col-sm-2 control-label">季度</div>
			   	<div class="col-sm-10">
			   		<select class="input-md form-control" v-model="finance.finQuarter">
				   	   <option v-for="finQuarterData in finQuarterDatas" v-bind:value="finQuarterData.value">
				   	   		{{finQuarterData.text}} 
				       </option>
				   	</select>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">备注</div>
			   	<div class="col-sm-10">
    				<textarea class="form-control" rows="4" v-model="finance.remarks"></textarea>
			    </div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script>
layui.use('laydate', function(){
  var laydate = layui.laydate;
 	var mydate = {
 	format: 'YYYY-MM-DD',
    choose: function(datas){
    	vm.finance.finDate=datas;
    }
  };

  document.getElementById('lay_finDate').onclick = function(){
    mydate.elem = this;
    laydate(mydate);
  }
});

(function(){
    $("#datepicker").datepicker({
        changeMonth: true,
        changeYear: true,
        yearRange:"1990:2050"
    });
    debugger;
})();
</script>

<script src="${rc.contextPath}/js/fin/finance.js?_${date.systemTime}"></script>
</body>
</html>